@import "../../../styles/baseline";
@import "../../../styles/mixins";

.page {
  max-width: 100%;
  margin: 0 auto;
  padding: 6 * $baseline 2 * $baseline;

  @include lg {
    margin: 0 auto;
    padding: 6 * $baseline 36 * $baseline;
    max-width: 900px;
  }

  @include xl {
    max-width: 1000px;
  }
}
