@import "../../../styles/baseline";
@import "../../../styles/mixins";

.page {
  max-width: 100%;
  margin: 0 auto;
  padding: 6 * $baseline 0;

  @include md {
    padding: 6 * $baseline 20 * $baseline;
  }

  @include lg {
    padding: 6 * $baseline 40 * $baseline;
  }
}
