@import "../../../styles/baseline";
@import "../../../styles/mixins";

.icon {
  padding: 2 * $baseline 4 * $baseline;
  width: 15%;
  height: auto;

  @include md {
    padding: 2 * $baseline 4 * $baseline;
  }

  @include lg {
    width: 10%;
  }
}
