@import "../../../styles/baseline";
@import "../../../styles/mixins";

.icon {
  padding-top: 2 * $baseline;
  padding-bottom: 2 * $baseline;
  padding-left: 0;
  padding-right: 2 * $baseline;
  width: 20%;
  height: auto;

  @include md {
    padding-top: 2 * $baseline;
    padding-bottom: 2 * $baseline;
    padding-left: 0;
    padding-right: 6 * $baseline;
  }

  @include lg {
    width: 25%;
  }

  &__navigation {
    width: 7 * $baseline;
    height: auto;
    padding: 0;
  }
}
