@import "../../../styles/mixins";
@import "../../../styles/baseline";

.element {
  display: block;

  &__minWidthSm {
    min-width: 8 * $baseline;

    @include md {
      min-width: 16 * $baseline;
    }
  }

  &__minWidthMd {
    min-width: 16 * $baseline;

    @include md {
      min-width: 32 * $baseline;
    }
  }

  &__minWidthLg {
    min-width: 32 * $baseline;

    @include md {
      min-width: 64 * $baseline;
    }
  }

  &__paddingSm {
    padding: 2 * $baseline 0;

    @include md {
      padding: 2 * $baseline $baseline;
    }

    @include lg {
      padding: 4 * $baseline;
    }
  }

  &__paddingMd {
    padding: 4 * $baseline 0;

    @include md {
      padding: 4 * $baseline 2 * $baseline;
    }

    @include lg {
      padding: 4 * $baseline;
    }
  }

  &__paddingLg {
    padding: 6 * $baseline 0;

    @include md {
      padding: 6 * $baseline 3 * $baseline;
    }

    @include lg {
      padding: 6 * $baseline;
    }
  }

  &__boxSm {
    width: 8 * $baseline;
    height: 8 * $baseline;

    @include md {
      width: 12 * $baseline;
      height: 12 * $baseline;
    }
  }

  &__boxMd {
    width: 15 * $baseline;
    height: 15 * $baseline;

    @include md {
      width: 18 * $baseline;
      height: 18 * $baseline;
    }
  }

  &__boxLg {
    width: 20 * $baseline;
    height: 20 * $baseline;

    @include md {
      width: 22 * $baseline;
      height: 22 * $baseline;
    }
  }
}
