@import "../../../styles/mixins";
@import "../../../styles/baseline";

.element {
  display: block;

  &__minWidthSm {
    min-width: 32 * $baseline;
  }

  &__minWidthMd {
    min-width: 48 * $baseline;
  }

  &__minWidthLg {
    min-width: 64 * $baseline;
  }
}
