@import "../../../styles/mixins";
@import "../../../styles/baseline";
@import "../../../styles/colors";
@import "../../../styles/typography";

.bodyText {
  margin: 0;
  color: $secondaryColor;

  &__fontBody {
    @include font-body();
  }

  &__fontHighlight {
    @include font-highlight();
  }

  &__sizeSm {
    font-size: 4 * $typographyBaseline;
  }

  &__sizeMd {
    font-size: 4 * $typographyBaseline;

    @include md {
      font-size: 5 * $typographyBaseline;
    }
  }

  &__sizeLg {
    font-size: 5 * $typographyBaseline;

    @include lg {
      font-size: 6 * $typographyBaseline;
    }
  }

  &__centeredVertically {
    align-self: center;
  }
}
