@import "../../../styles/mixins";
@import "../../../styles/baseline";
@import "../../../styles/colors";
@import "../../../styles/typography";

.heading {
  margin: 0;
  color: $secondaryColor;
  @include font-heading();

  &__alignRight {
    text-align: right;
  }

  &__sizeSm {
    font-size: 8 * $typographyBaseline;
  }

  &__sizeMd {
    font-size: 10 * $typographyBaseline;

    @include md {
      font-size: 12 * $typographyBaseline;
    }

    @include lg {
      font-size: 14 * $typographyBaseline;
    }
  }

  &__sizeLg {
    font-size: 12 * $typographyBaseline;

    @include md {
      font-size: 14 * $typographyBaseline;
    }
  }

  &__centeredVertically {
    align-self: center;
  }
}
