@import "../styles/baseline";
@import "../styles/mixins";

.navigation {
  padding: 0 2 * $baseline;

  @include md {
    padding: 2 * $baseline;
  }

  @include lg {
    padding: 2 * $baseline 4 * $baseline;
  }
}
